<div class="d-flex flex-column vh-100 p-3 bg-light border-end">
  <h2 class="text-center mb-4">Countries</h2>
  <hr />

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        href="#"
        class="nav-link"
        aria-current="page"
        routerLink="home"
        routerLinkActive="active"
      >
        <i class="bi bi-house-door-fill me-2"></i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" routerLink="about" routerLinkActive="active">
        <i class="bi bi-info-circle-fill me-2"></i>
        About
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" routerLink="contact" routerLinkActive="active">
        <i class="bi bi-info-circle-fill me-2"></i>
        Contact
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" routerLink="countries/by-capital" routerLinkActive="active">
        <i class="bi bi-info-circle-fill me-2"></i>
        By Capital
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" routerLink="countries/by-region" routerLinkActive="active">
        <i class="bi bi-info-circle-fill me-2"></i>
        By Region
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" routerLink="countries/by-country" routerLinkActive="active">
        <i class="bi bi-info-circle-fill me-2"></i>
        By Country
      </a>
    </li>
  </ul>
</div>
