<div class="container mt-5">
  <h1 class="text-center">About This Application</h1>
  <p class="mt-4">
    This Angular application is a simple demonstration of how to use the REST
    Countries API to display information about countries around the world. You
    can search for countries by their capital and see detailed information such
    as population, region, and flags.
  </p>

  <strong>Technologies used:</strong>
  <ul>
    <li>Angular</li>
    <li>Bootstrap</li>
    <li>REST Countries API</li>
  </ul>

  <p>
    This project is open-source and can be modified and used freely. For more
    information, visit the
    <a href="https://restcountries.com/" target="_blank">REST Countries API</a>.
  </p>
</div>
